<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.restmapper.CashRestMapper">
	<select id="cashbookYearList" resultType="java.util.Map" parameterType="String">
		SELECT cashbook_kind 내역,  
			SUM(case when YEAR(cashbook_date) = 2018 then cashbook_price END) one,
			SUM(case when YEAR(cashbook_date) = 2019 then cashbook_price END) two,
			SUM(case when YEAR(cashbook_date) = 2020 then cashbook_price END) three
		FROM cashbook
		WHERE cashbook_kind= #{cashbookKind}	
	</select>
	
	<select id="cashbookMonthList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 
			YEAR(cashbook_date) YEAR, cashbook_kind cashbookKind,
			SUM(case when MONTH(cashbook_date) = 1 then cashbook_price END) january,
			SUM(case when MONTH(cashbook_date) = 2 then cashbook_price END) february,
			SUM(case when MONTH(cashbook_date) = 3 then cashbook_price END) march,
			SUM(case when MONTH(cashbook_date) = 4 then cashbook_price END) april,
			SUM(case when MONTH(cashbook_date) = 5 then cashbook_price END) may,
			SUM(case when MONTH(cashbook_date) = 6 then cashbook_price END) june,
			SUM(case when MONTH(cashbook_date) = 7 then cashbook_price END) july,
			SUM(case when MONTH(cashbook_date) = 8 then cashbook_price END) august,
			SUM(case when MONTH(cashbook_date) = 9 then cashbook_price END) september,
			SUM(case when MONTH(cashbook_date) = 10 then cashbook_price END) october,
			SUM(case when MONTH(cashbook_date) = 11 then cashbook_price END) november,
			SUM(case when MONTH(cashbook_date) = 12 then cashbook_price END) december
			FROM cashbook
		WHERE YEAR(cashbook_date) = #{year} AND cashbook_kind = #{cashbookKind}
		GROUP BY YEAR(cashbook_date)
	</select>
	
	<select id= "cashbookCategory" resultType="java.util.Map" parameterType="int">
		SELECT 
			SUM(case when category_name ='관광' then cashbook_price END) "관광",
			SUM(case when category_name ='통신' then cashbook_price END) "통신",
			SUM(case when category_name ='주거' then cashbook_price END) "주거",
			SUM(case when category_name ='의료' then cashbook_price END) "의료",
			SUM(case when category_name ='식비' then cashbook_price END) "식비",
			SUM(case when category_name ='생활' then cashbook_price END) "생활",
			SUM(case when category_name ='문화' then cashbook_price END) "문화",
			SUM(case when category_name ='교통' then cashbook_price END) "교통",
			SUM(case when category_name ='교육' then cashbook_price END) "교육",
			SUM(case when category_name ='회비' then cashbook_price END) "회비"
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year} 
	</select>
	
	<select id= "cashbookCategorySu" resultType="java.util.Map" parameterType="int">
		SELECT 
			SUM(case when category_name ='급여' then cashbook_price END) "급여",
			SUM(case when category_name ='용돈' then cashbook_price END) "용돈",
			SUM(case when category_name ='금융이자' then cashbook_price END) "금융이자"
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year} 
	</select>
	
</mapper>